<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="MC.assignments">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/style1coloricon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".choose_lang"
            android:label="IIIT-D"
            android:configChanges="locale|orientation">
        </activity>
        <activity
            android:name=".choose"
            android:label="@string/label_1" />
        <activity
            android:name=".about_iiitd"
            android:configChanges="locale|orientation"
            android:label="@string/label_2" />
        <activity
            android:name=".programs_iiitd"
            android:configChanges="locale|orientation"
            android:label="@string/label_3" />
        <activity
            android:name=".getinUG"
            android:configChanges="locale|orientation"
            android:label="@string/label_4" />
        <activity
            android:name=".contact"
            android:configChanges="locale|orientation"
            android:label="@string/label_5" />
    </application>

</manifest>